<%# <!-- <%= link_to 'About', welcome_about_path
<%# <h1> I worked: Home %>
<%# <%= link_to 'About', pages_about_path %>
<%# <!-- erb ^^^ -->  %>
<%# <%= link_to 'About', welcome_about_path%> 

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/application.css">
        <title>Home</title>
    </head>
    <body>
        <h1>Alpha Blog</h1>
        <ul>
             <%= link_to 'Home', root_path %> 
            <%= link_to 'About', about_path%>
            <li><a href="mailto:lovemercybiz@gmail.com">Contact</a></li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet debitis autem cumque reiciendis sed quidem labore numquam, alias obcaecati voluptatum vel deleniti distinctio laboriosam dolores, similique aperiam vitae laudantium? Consequatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem exercitationem iure cumque laboriosam? Consequuntur earum sunt repellendus, accusantium sint praesentium fugiat doloremque asperiores aperiam itaque deleniti eaque omnis natus reprehenderit?</p>
        <!-- <img src="/AlphaBlog/app/assets/images/321298.jpg" alt="motivation"> --><!-- not working -->
    </body>
</html>